<button (click)="showAddUserForm()">სტუდენტის დამატება<fa-icon [icon]="faUserPlus"></fa-icon></button>
<div *ngIf="!showUserForm">
  <ul class="users">
    <li *ngFor="let user of student" (click)="selectstudent(user.id)" [class.selected]="user.id == selectedstudent?.id">
      <div>
        <span class="badge">{{user.id}}</span>{{user.firstName + ' ' + user.lastName}}
      </div>
      <fa-icon (click)="deletestudent(user.id)" [icon]="faArchive"></fa-icon>
    </li>
  </ul>
</div>

<div *ngIf="selectedstudent">
  <app-student-detail [studentuniversity]="selectedstudent" (saveEvent)="save($event)"></app-employee-detail>
</div>

<div *ngIf="showUserForm">
  <div style="margin-top: 20px">
    <label for="user-name">სახელი: </label>
    <input id="user-name" [(ngModel)]="studentToAdd.firstName" placeholder="სახელი">
  </div>
  <div style="margin-top: 20px">
    <label for="student-lastName">გვარი: </label>
    <input id="student-lastName" [(ngModel)]="studentToAdd.lastName" placeholder="სახელი">
  </div>
  <div style="margin-top: 20px">
    <label for="student-id">ID: </label>
    <input id="student-id" [(ngModel)]="studentToAdd.positionName" placeholder="სახელი">
  </div>
  <div style="margin-top: 20px">
    <label for="student-password">პაროლი: </label>
    <input id="student-password" type="number" [(ngModel)]="studentToAdd.salary" placeholder="სახელი">
  </div>
   <div style="margin-top: 20px">
    <label for="choose-subject">საგანი : </label>
    <input id="choose -subject" type="number" [(ngModel)]="studentToAdd.salary" placeholder="სახელი">
  </div>
  
  <button (click)="addUser()">შენახვა</button>
</div>
